@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body { font-family: "Roboto", sans-serif; padding: 0; margin: 0; position: relative; font-size: 16px; z-index: 0; font-weight: 400; background-color: #1A1A1A; min-height: calc(100vh - 17rem); }

a { text-decoration: none; color: #ffffff; }

section { max-width: 800px; margin-left: auto; margin-right: auto; position: relative; z-index: 0; }

::-moz-selection { background: #8a0707; }

::selection { background: #8a0707; }

@media (min-width: 1000px) { body { font-size: 120%; } }

header { position: relative; margin: 5em auto 0 auto; padding-left: 50px; max-width: 840px; border-bottom-style: solid; border-color: #000000; border-width: thick; }

header h1 { color: #ffffff; font-weight: 400; font-size: 3.2em; display: block; margin: auto; padding-bottom: 1rem; }

@media (max-width: 940px) { header { margin: 5em 1em 0 1em; } }

footer { display: fixed; position: absolute; width: 100%; bottom: -16rem; left: 0; background-color: #8a0707; color: #ffffff; padding: 1em 0em; }

footer div { margin: auto; padding: 0em 2em; position: relative; max-width: 1280px; }

footer h1 { display: block; font-size: 1em; font-weight: 300; margin: 0.5em auto; }

footer img { width: 3em; display: inline-block; }

footer p { display: block; position: relative; font-size: 1em; font-weight: 300; margin: 0.5em auto; }

footer br { display: none; }

@media (min-width: 600px) { footer { bottom: -12rem; }
  footer h1 { text-align: left; display: block; font-size: 1em; font-weight: 300; }
  footer img { width: 2.5em; display: inline-block; position: relative; margin-left: 1em; float: right; }
  footer p { display: block; position: absolute; font-size: 1em; font-weight: 300; right: 2em; bottom: -1em; } }

section { text-align: left; width: auto; margin: 3rem auto; padding-left: 3em; padding-right: 3em; }

section h1 { color: #ffffff; display: block; font-weight: 400; font-size: 1.7em; margin: 0 auto 1em auto; }

section div { clear: both; width: auto; max-width: 40em; margin: auto; }

section h2 { color: #ffffff; display: inline; font-weight: 300; font-size: 1.5em; padding-left: 0.5em; padding-right: 0.5em; margin: auto; }

section h3 { color: #ffffff; display: block; font-weight: 300; font-size: 0.9em; margin: auto; margin-top: -1.5em; text-transform: uppercase; }

section p { color: #ffffff; font-size: 1.2em; font-weight: 300; line-height: 1.6em; margin: 1em auto; }

section img { width: 100%; display: block; margin: auto; margin-bottom: 1em; }

section svg { fill: #8a0707; height: 1em; }

section svg.flip { -webkit-transform: scaleY(-1); -ms-transform: scaleY(-1); transform: scaleY(-1); }

section span { color: #8a0707; font-size: 4em; display: inline-block; line-height: 0.5em; -webkit-transform: translateY(0.4em); -ms-transform: translateY(0.4em); transform: translateY(0.4em); }

@media (min-width: 760px) { section img { width: 48%; display: inline-block; }
  section p { text-align: justify; } }
