@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body { font-family: "Roboto", sans-serif; padding: 0; margin: 0; position: relative; font-size: 16px; z-index: 0; font-weight: 400; background-color: #1A1A1A; min-height: calc(100vh - 17rem); }

a { text-decoration: none; color: #ffffff; }

section { max-width: 800px; margin-left: auto; margin-right: auto; position: relative; z-index: 0; }

::-moz-selection { background: #8a0707; }

::selection { background: #8a0707; }

@media (min-width: 1000px) { body { font-size: 120%; } }

nav { width: calc(100vw - 2em); display: block; position: fixed; top: 0; height: 4em; padding: 0em 1em; background-color: #000000; z-index: 1000; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }

nav .contain { max-width: 1280px; margin: auto; }

nav .contain div { position: relative; -webkit-transform: translate(-1em, -18.5em); -ms-transform: translate(-1em, -18.5em); transform: translate(-1em, -18.5em); float: left; background-color: #000000; width: 100vw; }

nav .contain div a { display: block; color: #ffffff; height: 2em; line-height: 2em; position: relative; font-size: 1em; font-weight: 400; padding: 0.5em 1em; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }

nav .contain div a:hover { background-color: #8a0707; }

nav img { position: relative; display: inline-block; vertical-align: middle; height: 1.8em; margin: 1rem 0; padding: 0; }

nav img.type { height: 1.5em; padding-left: 0.8em; }

nav svg { fill: #ffffff; height: 1.5em; position: absolute; right: 1em; top: 1.25em; cursor: pointer; }

#toggle { -webkit-transform: translateY(14.5em); -ms-transform: translateY(14.5em); transform: translateY(14.5em); }

nav .close { display: none; }

@media (min-width: 760px) { nav { transition: none; }
  nav.home { background: none; }
  nav .contain div { margin-top: 0.6em; display: inline-block; -webkit-transform: none; -ms-transform: none; transform: none; width: auto; float: right; background: none; }
  nav .contain div a { display: inline-block; height: auto; line-height: auto; }
  nav .contain div a:hover { background-color: #8a0707; font-weight: 400; }
  nav .open, nav .close { display: none; visibility: hidden; }
  #toggle { -webkit-transform: none; -ms-transform: none; transform: none; } }
