@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body { font-family: "Roboto", sans-serif; padding: 0; margin: 0; position: relative; font-size: 16px; z-index: 0; font-weight: 400; background-color: #1A1A1A; min-height: calc(100vh - 17rem); }

a { text-decoration: none; color: #ffffff; }

section { max-width: 800px; margin-left: auto; margin-right: auto; position: relative; z-index: 0; }

::-moz-selection { background: #8a0707; }

::selection { background: #8a0707; }

@media (min-width: 1000px) { body { font-size: 120%; } }

header { position: relative; margin: 5em auto 0 auto; padding-left: 50px; max-width: 840px; border-bottom-style: solid; border-color: #000000; border-width: thick; }

header h1 { color: #ffffff; font-weight: 400; font-size: 3.2em; display: block; margin: auto; padding-bottom: 1rem; }

@media (max-width: 940px) { header { margin: 5em 1em 0 1em; } }

footer { display: fixed; position: absolute; width: 100%; bottom: -16rem; left: 0; background-color: #8a0707; color: #ffffff; padding: 1em 0em; }

footer div { margin: auto; padding: 0em 2em; position: relative; max-width: 1280px; }

footer h1 { display: block; font-size: 1em; font-weight: 300; margin: 0.5em auto; }

footer img { width: 3em; }

footer p { display: block; position: relative; font-size: 1em; font-weight: 300; margin: 0.5em auto; }

footer br { display: none; }

footer a { width: 3em; display: inline-block; position: relative; margin-right: 0.7em; }

@media (min-width: 600px) { footer { bottom: -12rem; }
  footer br { display: block; }
  footer h1 { text-align: left; display: block; font-size: 1em; font-weight: 300; }
  footer a { width: 2.5em; margin-left: 1em; margin-right: auto; float: right; }
  footer img { width: 2.5em; }
  footer p { display: block; position: absolute; font-size: 1em; font-weight: 300; right: 2em; bottom: -1em; } }

section { text-align: left; width: auto; margin: 4rem auto; padding-left: 3em; padding-right: 3em; }

section h1 { color: #ffffff; display: inline-block; font-weight: 400; font-size: 1.5em; vertical-align: middle; }

section br { clear: both; }

section img { height: 2em; max-width: 2em; display: inline-block; vertical-align: middle; padding-right: 1em; }

section p { color: #ffffff; font-size: 1.2em; font-weight: 300; line-height: 1.6em; margin: 1em auto; }

section ul { padding: 0; margin: 0; display: block; }

section li { padding: 1em; margin: 1em 0; background-color: rgba(255, 255, 255, 0.05); display: block; color: #ffffff; font-size: 1.2em; font-weight: 300; line-height: 1.6em; }

@media (min-width: 760px) { section div { float: left; width: 32%; }
  section p { float: right; width: 65%; text-align: justify; }
  section li { max-width: calc(50% -2em); display: inline-block; margin: 0.6em 0; margin-right: 0.5em; } }
